.catalog {
	background-image: url('@img/catalog/bg.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 15px;
	padding-right: 15px;
	//height: 100vh;

	// .catalog__container
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;


		@include adaptiveValue("padding-top", 85, 20);
		@include adaptiveValue("padding-bottom", 95, 20);
		//padding: 87px 0px;
	}

	// .catalog__title
	&__title {
		font-family: 'Roboto';
		font-weight: 900;
		font-size: rem(36);
		line-height: 116%;
		text-align: center;
		color: $mainColorTundora42;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
			//margin-bottom: 52px;
		}

		span {
			color: $mainColorSundance;
		}
	}

	// .catalog__btn-block
	&__btn-block {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		gap: 30px;

		@media (max-width:$pc) {
			flex-wrap: wrap;
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 20);
			//margin-bottom: rem(60);
		}


	}

	// .catalog__btn-secondary
	&__btn-secondary {
		&:not(:last-child) {
			//margin-right: rem(38);
		}
	}

	// .catalog__btn-new-buildings
	&__btn-new-buildings {
		&:not(:last-child) {
			//margin-right: rem(38);
		}
	}

	// .catalog__btn-rent
	&__btn-rent {
		&:not(:last-child) {
			//margin-right: rem(38);
		}
	}

	// .catalog__btn-house
	&__btn-house {
		&:not(:last-child) {
			//margin-right: rem(38);
		}
	}

	// .catalog__slider
	&__slider {
		position: relative;
	}

	&__slider-wrp {
		min-width: 0;
	}


	// .catalog__wrapper
	&__wrapper {
		//position: relative;
		top: 0;
		left: 0;
		min-width: 0;
	}

	// .catalog__sld
	&__sld {}
}

.catalog__swipe {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 27px;
	position: relative;
	top: 0;
	left: 0;
	font-size: rem(20);
	color: $mainColorTundora42;
	padding-bottom: 10px;
}

.swiper {
	width: 90vw; //1100px
	//@include adaptiveValue("width", 1100, 320);
	height: 100vh; //584//780

}

.swiper-wrapper {
	//display: none !important;
}

.swiper-slide {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 0;

	margin-left: auto;
	margin-right: auto;

	// .swiper-slide__info
	&__info {}
}

.catalog__cnt {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-width: 0;
}

.catalog__sld-image {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	//height: 53%;
	//display: flex;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.catalog__slider-wrp {
	position: relative;
	top: 0;
	left: 0;


}

.info-swiper-slide {
	padding: 10px;

	// .info-swiper-slide__object
	&__object {}

	// .info-swiper-slide__object-info
	&__object-info {}
}


.catalog {

	// .catalog__sld
	&__sld {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.secondary {}

.swiper-slide {

	// .swiper-slide__info
	&__info {
		@include adaptiveValue("margin-top", 25, 10);
	}
}

.info-swiper-slide {
	width: 100%;

	// .info-swiper-slide__object
	&__object-title {
		font-size: rem(30);
		line-height: 120%;
		color: $mainColorSundance;
		text-align: center;
	}

	&__object-text {
		font-size: rem(18);
		line-height: 122%;
		color: $mainColorTundora42;
		text-align: center;
		@include adaptiveValue("margin-bottom", 27, 15);
	}

	// .info-swiper-slide__object-info
	&__object-info {}
}

.info-object {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-width: 100px;
	gap: 15px;

	@media (max-width: 1115px) {
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}

	@media (max-width:$mobile) {}


	// .info-object__square-general
	&__square-general {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

	}

	// .info-object__info
	&__info {
		display: inline-block;
		font-size: rem(30);
		line-height: 120%;
		color: $mainColorSundance;
		text-align: left;
		max-height: 38px;
	}

	// .info-object__text
	&__text {
		font-size: rem(24);
		line-height: 120%;
		text-align: left;
		color: #8C8C8C;
	}

	// .info-object__square-residential
	&__square-residential {}

	// .info-object__square-kitchen
	&__square-kitchen {}

	// .info-object__floor
	&__floor {}

	// .info-object__year
	&__year {}
}

.secondary,
.newBuildings,
.rent,
.house {
	display: none;
}


.active-swiper {
	display: block;
}